@page "/"
@inject DynamicLoader DynamicLoader

<h1 @onclick="onClick">Hello, world!</h1>

@code{
    private async void onClick()
    {
        await DynamicLoader.LoadAsset("content/portfolio/photo1.jpg", "img");
    }
}

@* <CodeSnippet Code="@(@"
    [Serializable]
    public struct SpawnRandomInSphere : ISharedComponentData
    {
        public Entity Entity;
        public float Radius;
        public int Count;
    }

    public class SpawnRandomInSphere : MonoBehaviour
    {
        public Mesh Mesh;
        public Material Material;
        public float Radius;
        public int Count;

        private void spawnEntity(Entity entity, EntityManager em)
        {
            var spawnerData = new ECS.Particles.SpawnRandomInSphere
            {
                Radius = Radius,
                Count = Count
            };
            em.AddSharedComponentData(entity, spawnerData);
        }
    }
  ")" /> *@

