@page "/"
@* @using BlazorComponentUtilities *@

<h1>Hello, world!</h1>

<div loading="lazy">
    <img src="https://localhost:5001/content/portfolio/photo1.jpg" loading="lazy" alt="">
    <img src="https://localhost:5001/content/portfolio/photo2.jpg" loading="lazy" alt="">
    <img src="https://localhost:5001/content/portfolio/photo3.jpg" loading="lazy" alt="">
    <img src="https://localhost:5001/content/portfolio/photo4.jpg" loading="lazy" alt="">
    <img src="https://localhost:5001/content/portfolio/photo5.jpg" loading="lazy" alt="">
    <img src="https://localhost:5001/content/portfolio/photo6.jpg" loading="lazy" alt="">
    <img src="https://localhost:5001/content/portfolio/photo7.jpg" loading="lazy" alt="">
    <img src="https://localhost:5001/content/portfolio/photo8.jpg" loading="lazy" alt="">
</div>

@* @if (loaded)
{
    <link rel="prefetch" href="https://code.createjs.com/1.0.0/preloadjs.min.js" as="script">
    <link rel="prefetch" href="https://localhost:5001/content/portfolio/photo2.jpg" as="image">
    <link rel="prefetch" href="https://localhost:5001/content/portfolio/photo3.jpg" as="image">
}    *@

@code {
    private int _next = 0;
    
    public string next => (_next++).ToString();
        
    //await DynamicLoader.LoadAsset (sources[i]);
}

