<a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="copy"></a>
<a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="file-edit"></a>
<a href="#" class="uk-icon-link" uk-icon="trash"></a>

<button class="uk-button uk-button-default" uk-tooltip="Hello World">Hover</button>
<div uk-lightbox>
    <a class="uk-button uk-button-default" href="content/portfolio/photo.jpg">Open Lightbox</a>
</div>

<div class="uk-h3">Scale</div>
<div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: fade">
    <div>
        <a class="uk-inline" href="content/portfolio/photo.jpg" data-caption="Caption 1">
            <img src="content/portfolio/photo.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="content/portfolio/dark.jpg" data-caption="Caption 2">
            <img src="content/portfolio/dark.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="content/portfolio/light.jpg" data-caption="Caption 3">
            <img src="content/portfolio/light.jpg" alt="">
        </a>
    </div>
</div>